body {
    background-image: url("https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_640.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h2 {
    color: white;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    border-top-style: dotted;
    border-top-color: white;
    
}



h3{
    
    color: #00ff73;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}

.lists, .forms  {
    color: #00ff73;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color:#00ff73;
    border-radius: 5px;
    padding: 5px;
    
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 5px;
}