body {
    background-color: #111111;
}
h2 {
    color: white;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}


h3{
    color: #00ff73;
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
}

.lists, .forms  {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    border-style: solid;
    border-width: 5px;
    border-color:#00ff73;
    border-radius: 5px;
    padding: 5px;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    padding: 5px;
}